.app {
  max-width: 1200px;
  margin: 0 auto;
}

.community__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  column-gap: 20px;
}

.community__card {
  max-width: 300px;
  padding: 30px 80px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 8px;
}

.card__desc {
  margin: 19px 0 39px;
}

.card__title {
  margin-bottom: 10px;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.5px; /* 145.833% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #464547;
}

.card__position {
  max-width: 120px;
  color: #666;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  margin: 0 auto;
}

.community__title,
.community__desc {
  text-align: center;
}

.community__title {
  max-width: 490px;
  margin: 0 auto;
  color: #464547;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  margin-bottom: 40px;
}
.community__desc {
  max-width: 561px;
  color: #666;
  margin: 0 auto;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-bottom: 57px;
}

.community__card:hover {
  transform: scale(1.2);

  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Join */
.join {
  margin-top: 100px;
  padding: 87px 0 100px;
  background: rgba(5, 17, 18, 0.5);
  background-image: url('./assets/img/photo.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 436px;
}

.join-us--title {
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}
.desc {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.title,
.desc {
  max-width: 373px;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 1.4px;
  padding: 5px 18px;
  border-radius: 18px;
  background: #55c2d8;
  border: none;
  margin-left: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:disabled {
  opacity: 0.5;
}
.input {
  width: 380px;
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
  max-width: 400px;
  padding: 11px 0px 10px 20px;
  background: rgba(255, 255, 255, 0.15);
}
.input::placeholder {
  color: #fff;
}
